# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/bin/
/obj/

# user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# secrets
appsettings.Development.json

# Rider
.idea/
